
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1497528104682'); /* IE9*/
  src: url('./iconfont.eot?t=1497528104682#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1497528104682') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1497528104682') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1497528104682#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nanzhuang:before { content: "\e600"; }

.icon-bofang:before { content: "\e613"; }

.icon-quanping:before { content: "\e643"; }

.icon-zan:before { content: "\e60d"; }

.icon-pause-outline:before { content: "\e691"; }

.icon-lishi:before { content: "\e60a"; }

.icon-jiantou:before { content: "\e601"; }

.icon-dongmanxian:before { content: "\e663"; }

.icon-paixing:before { content: "\e605"; }

.icon-jindutiao:before { content: "\e60c"; }

.icon-gerenxinxi:before { content: "\e614"; }

.icon-jingyin:before { content: "\e842"; }

.icon-category:before { content: "\e6a9"; }

.icon-yinliang:before { content: "\e818"; }

